[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
