# "prefix history" search
"\e[A": history-search-backward
"\e[B": history-search-forward
#"\e[C": forward-char
#"\e[D": backward-char
set show-all-if-ambiguous on
set completion-ignore-case on 

# Hop up directories
"\C-n":"cd ..\n"
